aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
async-timeout
attrs
babel
backoff
bcrypt
beautifulsoup4
bleach
build
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
cohere
colorama
coloredlogs
comm
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
dirtyjson
discord-pretty-help
discord.py
distro
dnspython
durationpy
email_validator
exceptiongroup
executing
faiss-cpu
fastapi
fastapi-cli
fastavro
fastjsonschema
filelock
filetype
flatbuffers
fqdn
frozenlist
fsspec
google-auth
googleapis-common-protos
googlesearch-python
greenlet
groq
grpcio
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
imgurpython
importlib_metadata
importlib_resources
intel-cmplr-lib-ur
intel-openmp
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kubernetes
langchain
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-groq
langchain-openai
langchain-text-splitters
langsmith
llama-cloud
llama-index-core
llama-index-embeddings-cohere
llama-index-embeddings-huggingface
llama-index-embeddings-langchain
llama-index-embeddings-openai
llama-index-llms-cohere
llama-index-llms-groq
llama-index-llms-langchain
llama-index-llms-openai
llama-index-llms-openai-like
llama-index-llms-replicate
llama-index-readers-file
llama-index-vector-stores-chroma
llama-index-vector-stores-mongodb
llama-index-vector-stores-pinecone
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
minijinja
mistune
mkl
mmh3
monotonic
MouseInfo
mpmath
multidict
mypy-extensions
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
pandocfilters
parameterized
parso
pillow
pinecone
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
platformdirs
posthog
praw
prawcore
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
pure_eval
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
pydantic
pydantic-settings
pydantic_core
PyGetWindow
Pygments
pymongo
PyMsgBox
PyNaCl
pypdf
pyperclip
PyPika
pyproject_hooks
pyreadline3
PyRect
PyScreeze
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytweening
pytz
pywin32
pywinpty
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986
rfc3986-validator
rich
rich-toolkit
rpds-py
rsa
safetensors
scikit-learn
scipy
Send2Trash
sentence-transformers
shellingham
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
striprtf
sympy
tabulate
tbb
tcmlib
tenacity
terminado
textblob
threadpoolctl
tiktoken
tinycss2
tokenizers
tomli
torch
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
types-requests
typing-inspect
typing_extensions
tzdata
umf
update-checker
uri-template
urllib3
uvicorn
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
widgetsnbextension
wikipedia
wrapt
xkcd
yarl
youtube-dl
youtube-search-python
zipp